<!-- registro.component.html -->
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Registro
        </div>
        <div class="card-body">
          <h5 class="card-title">¡Bienvenido a Cafetería Mallorca!</h5>
          <form>
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
            </div>
            <div class="mb-3">
              <label for="apellido1" class="form-label">Primer Apellido</label>
              <input type="text" class="form-control" id="apellido1" placeholder="Ingresa tu primer apellido">
            </div>
            <div class="mb-3">
              <label for="apellido2" class="form-label">Segundo Apellido</label>
              <input type="text" class="form-control" id="apellido2" placeholder="Ingresa tu segundo apellido">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña">
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Repetir contraseña</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Repite tu contraseña">
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
